.border-radius{
    border-radius: 20%;
    width: 200;
    height: 200;
}

.bouton {
    background-color: red;
    border: none;
    color: white;
  
  }
  .bouton:hover {
    background-color: blue;
    color: white;
  }